<div class="container mt-4">
  <h2 class="text-center mb-4">Hub List</h2>

  <table class="table table-bordered table-striped">
    <thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>Hub Name</th>
        <th>Hub Location</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let hub of hubs">
        <td>{{ hub.id }}</td>
        <td>{{ hub.hubName }}</td>
        <td>
          {{ hub.countryName }},<br />
          {{ hub.divisionName }},<br />
          {{ hub.districtName }},
          {{ hub.policeStationName }},

        </td>
        <td>
          <button class="btn btn-danger btn-sm" (click)="deleteHub(hub.id)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="hubs.length === 0" class="alert alert-info text-center">
    No hubs available.
  </div>
</div>